/*.
#373B4A h1
#7A00E6 primary
#D6336C highlight
#212536 nav
#E9E9EB grey section
#4D515E para text
#A6A8AF footer

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160 / 192 / 224 / 256 / 288 / 320

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 112 / 128 / 146 / 166 / 188 / 212
*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scrollbar-width: none;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    font-weight: 500;
    color: #373B4A;
    background-color: #fff;
}

/* -REUSABLES */
.container,
.container-sm {
    padding: 0 3.2rem;
    margin: 0 auto;
}


.container {
    max-width: 128rem;
}

.container-sm {
    max-width: 70rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 3.2rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.header-primary,
.header-secondary {
    font-weight: 700;
    color: #212536;
    letter-spacing: 0.2px;
}

.header-primary {
    font-size: 3.6rem;
}


.header-secondary {
    font-size: 2rem;
}

.general-text {
    font-size: 1.8rem;
    color: #373B4A;
    line-height: 1.5;
}

.sub-header {
    display: block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #7A00E6;
    padding-bottom: 0.8rem;
}

.section-headers {
    padding-bottom: 4.8rem;
}

.btn {
    font-family: "Poppins";
    text-transform: uppercase;
    background-color: #E9E9EB;
    border: none;
    padding: 1.2rem;
    border-radius: 1.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn--cta {
    font-weight: 600;
    background-color: #7A00E6;
    color: #fff;
}

.btn:hover {
    background-color: #d0d1d6;
}

.btn--cta:hover {
    background-color: #D6336C;
    transform: scale(103%);
}

.padding-top-sm {
    padding-top: 1.6rem;
}

.padding-top-md {
    padding-top: 2.4rem;
}

.padding-top-lg {
    padding-top: 4.8rem;
}

.text-center {
    text-align: center;
}

a {
    color: #7A00E6;
}

.hidden {
    display: none;
}

/* MODAL classes */
.modal-close-icon {
    font-size: 4.4rem;
    color: #212536;
    cursor: pointer;
    align-self: flex-end;
    transition: all 0.3s ease-out;
}

.modal-close-icon:hover {
    color: #7A00E6;
}

.no-scroll {
    overflow: hidden;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

/* fade in ANIMATION*/
.fade {
    opacity: 0;
    transition: opacity 0.7s ease-out;
}

.fade.show {
    opacity: 1;
}

/* -NAVIGATION */
.header {
    display: flex;
    height: 6.4rem;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 6.4rem;
    position: relative;
}

.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 6.4rem;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 3px 0 0.3rem #7A00E6;
    background-color: #fff;
    z-index: 10;
}

.sticky .section-hero {
    margin-top: 6.4rem;
}

.nav-logo {
    width: 16rem;
}

.main-nav-list {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    color: #212536;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s ease-out;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #D6336C;
}

/* -MOBILE NAV */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    font-size: 4.4rem;
    color: #212536;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/* -HERO SECTION */
.section-hero {
    padding: 2.4rem 0;
    margin: 0 auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
}

.hero-header {
    padding: 0 3.2rem;
    text-transform: uppercase;
}

.hero-header h1 {
    letter-spacing: 0.7px;
    padding-bottom: 2.4rem;
}

.hero-logo {
    padding-bottom: 1.6rem;
    height: auto;
    width: 32rem;
}

.hero-image {
    width: 100%;
}

.hero-mobile-image {
    display: none;
    height: auto;
    width: 100%;
}

.hero-arrow {
    width: 11.2rem;
    padding-bottom: 2.4rem;
}

/* -PARTNERS SECTION */
.section-partners {
    padding: 0 0 6.4rem;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    max-width: 100%;
    background-color: #7A00E6;
    padding: 6.4rem;
}

.partners img {
    display: block;
    width: 15%;
    height: auto;
}

/* -MEDICATIONS SECTION */
.section-medications {
    padding: 6.4rem 0;
}

.all-medications {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

/* each box */
.medication {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 1.6rem;
    overflow: hidden;
    box-shadow: 5px 5px 5px 0.5px hsla(229, 24%, 17%, 0.3);
    transition: all 0.3s ease-out;
}

.filler-top-border {
    background-color: #7A00E6;
    height: 4rem;
}

.med-image {
    width: 100%;
    padding: 3.2rem 0;
    display: block;
}

.med-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.2rem 2.4rem;
}

.medication:hover {
    transform: scale(105%);
    .filler-top-border {
        background-color: #D6336C;
    }
}

/* -MEDICATION SERVICES */
.section-services {
    padding: 6.4rem 0 12.8rem;
    background-color: #E9E9EB;
}

.info-segments {
    display: flex;
    gap: 3.2rem;
    padding-top: 3.2rem;
}

.icon ion-icon {
    font-size: 3.2rem;
    padding: 1.2rem;
    border-radius: 100%;
    background-color: #fff;
    color: #7A00E6;
}

.segment {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* -ONCOLOGIST SECTION */
.section-oncologist {
    padding-top: 6.4rem;
}

.oncologist {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    padding: 0 3.2rem;
}

.oncologist .image-container {
    flex: 1;
}

.oncologist img {
    width: 80%;
    height: auto;
    /* object-fit: cover; */
    display: block;
}

.oncologist-text {
    flex: 1;
    width: 100%;
}

.oncologist-text .section-headers {
    flex: 1;
}

.oncologist-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    padding-bottom: 6.4rem;
}

/* -PATIENT SECTION */
.section-patient {
    background-color: #ffffff;
}

.patient {
    display: flex;
    /* align-items: center; */
    gap: 4.8rem;
    padding: 0 3.2rem;
}

.patient-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

.patient .section-headers {
    flex: 1;
    padding: 3.2rem 0;
    width: 100%;
}

.patient .image-container {
    flex: 1;
}

.patient-image {
    align-self: flex-start;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* padding-bottom: 6.4rem; */
    display: block;
}

.grid-segments {
    padding-top: 3.2rem;
}

/* -CONTACT SECTION */
.section-contact {
    padding: 6.4rem 0;
}

.info {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.contact-info div.icon ion-icon {
    background-color: #7A00E6;
    color: #fff;
}

.section-contact div.contact div.section-headers p {
    padding-top: 1.6rem;
}

/* -FOOTER SECTION */
.footer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: end;
    padding: 0 6.4rem 1.6rem;
}

.footer img {
    width: 16rem;
}

.copyright {
    font-size: 1.2rem;
    color: #A6A8AF;
}

/* -ACCESSIBILITY */
*:focus {
    outline: none;
    border-radius: 1.2rem;
    box-shadow: 0 0 0 0.5rem #7A00E6;
    z-index: 1;
}

/* -MODAL: PRESCRIPTION info */
.prescription-modal {
    flex-direction: column;
    gap: 2.4rem;
    position: fixed;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    height: 100vh;
    width: 100%;
    padding: 3.2rem;
    background-color: #fff;
    box-shadow: 5px 5px 5px 0.5px hsla(229, 24%, 17%, 0.3);
    /* touch-action: none; */
    overflow-y: auto;
    z-index: 30;
}

.prescription-modal-open {
    color: #7A00E6;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.prescription-modal-open:hover {
    color: #D6336C;
}

.prescription-all-text {
    margin: 0 auto;
    width: 56rem;
}

.prescription-all-text div {
    padding-bottom: 3.2rem;
}

/* -MODAL: ONCOL/PATIENT-LEARN MORE */
.oncologist-more-modal,
.patient-more-modal {
    flex-direction: column;
    position: fixed;
    gap: 2.4rem;
    top: 0;
    left: 0;
    overflow-y: scroll;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
    padding: 3.2rem;
    box-shadow: 5px 5px 5px 0.5px hsla(229, 24%, 17%, 0.3);
    /* touch-action: none; */
    z-index: 30;
}

.body-all-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* padding: 0 1.6rem; */
    width: 56rem;
}

.modal-img {
    align-self: flex-end;
    width: 30%;
    padding-top: 3.2rem;
}

.modal-header {
    display: flex;
    flex-direction: column;
}
/* ?figure out HEIGHT, use VH */
/* ?might need to reduce size of general-text and header-sec */
/* ?then, can move onto queries */
/* ?reorganize JS? */